<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=.; Initial Catalog=SoAventura; Integrated Security=True; Integrated Security=SSPI; Max Pool Size=10; Pooling=false" providerName="System.Data.SqlClient" />
    <!-- add name="SoAventuraEntities" connectionString="metadata=res://*/SoAventura.csdl|res://*/SoAventura.ssdl|res://*/SoAventura.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Aenima;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
  <!-- add name="SoAventuraEntities1" connectionString="data source=DELL;initial catalog=SoAventura;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /-->
  <add name="SoAventuraEntities" connectionString="metadata=res://*/SoAventuraEntities.csdl|res://*/SoAventuraEntities.ssdl|res://*/SoAventuraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=SoAventura;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>